<h1> Nos Produits Informatique </h1>
<!--ul>
    <div>
        <ng-container *ngFor ="let m of materiels">
            <li *ngIf="m.quantite>0">
                <img height="100px" width="160px" [src]= "m.photo">
                 {{m.libelle}}
                <span  
                  [ngClass]=" m.hautGamme ?
                   'badge badge-pill badge-primary' 
                   : 'ba dge badge-pill badge-dark' " > 
                   prix : {{m.prix}} DT
                  <i [ngClass]="{'fa fa-thumbs-up': m.hautGamme}"></i>                                                                                                                     

                </span>
             </li>
        </ng-container>
    </div>
</ul-->

<div class="container">
    <div class="row">
        <ng-container  *ngFor="let t of materiels">
            <ng-container *ngIf="t.quantite>0">
                <div  class="col">
                    <nes-materiel [mat]="t"></nes-materiel>
                </div>
            </ng-container>
     
        </ng-container>
    </div>
</div>