<h1> Détail de "{{det.libelle}}" d'ID {{det.id}}</h1>
<ul class="list-group"> 
   
    <li class="list-group-item"> marque {{det.marque}} </li>
    <li class="list-group-item"> prix {{det.prix}} </li>
    <li class="list-group-item"> description {{det.description}}</li>
    <li class="list-group-item"> quantite {{det.quantite}}</li>
    <li class="list-group-item"> <input type="checkbox" [checked] ="det.hautGamme"> hout de gamme </li>
    <button class="btn btn-primary" (click)="onshow('2')"> afficher les commentaires</button>
    <div *ngIf="!showing">
        <h3> liste des commentaires </h3>
    <ng-container *ngFor="let c of det.commentaires ; index as i ">
        <div class="alert alert-primary" role="alert"> commentaire n° {{i+1}}</div>
    <nes-comment [com] = "c"></nes-comment>
    </ng-container>
    </div>
</ul>